streamlit>=1.31
pandas>=2.1
numpy>=1.26
plotly>=5.18
scikit-learn>=1.4
ydata-profiling>=4.6
missingno>=0.5.2
phik>=0.12.4
statsmodels>=0.14
python-dateutil>=2.8

openai>=1.30
kaleido>=0.2.1
reportlab>=4.0